---
import QRCode from "../components/QRCode.svelte";

const {request} = Astro;
const {url: pageUrl} = request;
const {searchParams} = new URL(pageUrl);
const url = searchParams.get("url") ?? "https://www.astro.com";

const title = "QR Generator";
const description = "Generate QR Code";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main>
			<h1>QR Generator</h1>
			<form action="">
				<h2>Enter URL</h2>
				<div>
					<label for="url">URL</label>
					<input type="url" id="url" name="url" value={url}/>
					<button type="submit">Generate</button>
				</div>
			</form>
			<p>{url}</p>
			<QRCode client:load url={url} />
		</main>
	</body>
</html>
